p { margin-bottom: 0.25cm; line-height: 115% }
		h1.western { font-family: "Liberation Sans", sans-serif; font-size: 22pt }
		h2.western { font-family: "Liberation Sans", sans-serif; font-size: 16pt }
		h2.cjk { font-family: "Microsoft YaHei"; font-size: 16pt }
        h2.ctl { font-family: "Arial"; font-size: 16pt }
		h1 {color: darkblue;}
		h3.western { font-family: "Liberation Sans", sans-serif; font-size: 18pt; }
		h3.cjk { font-family: "Microsoft YaHei" }
		h3.ctl { font-family: "Arial" }
		h2 {text-shadow: yellow 3px 6px;}
		p .western { font-family: "Liberation Sans", sans-serif; font-size: 14pt; }
		td.menu {
			background-color:white;
			}
			td.menu:hover {
			background-color:yellow;
			}
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			  }