body 
{
	background: gainsboro;
	 }
   p:hover {
	background-color: greenyellow;
  }
p { margin-bottom: 0.25cm; line-height: 115% }
h1.western { font-family: "Liberation Sans", sans-serif; font-size: 26pt }
h1 {color: darkblue;}   
h2.western { font-family: "Liberation Sans", sans-serif; font-size:19pt }
h2 { color:orangered;}
		h2.cjk { font-family: "Microsoft YaHei"; font-size: 19pt }
		h2.ctl { font-family: "Arial"; font-size: 19pt }
		h2 {text-shadow: orange 3px 3px;}	
h3.western { font-family: "Liberation Sans", sans-serif; font-size:19pt }
		h3 { color:navy;}
				h3.cjk { font-family: "Microsoft YaHei"; font-size: 19pt }
				h3.ctl { font-family: "Arial"; font-size: 19pt }			
   p .western { font-family: "Liberation Sans", sans-serif; font-size: 14pt; color: olivedrab; }
   .example_b {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	}
	.example_b:hover {
		text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
		box-shadow: inset 5em 1em gold;
		box-shadow: inset 7em 2em burlywood;
		transition: all 0.4s ease 0s;
		}	

	
	